<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="alertify.js"></script>
    <script src="index.js"></script>
</head>

<body>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin Dashboard</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/admin">Home</a>
                </li>
                <li>
                    <a href="/admin/manageStaff">Manage Staff</a>
                </li>
                <li>
                    <a href="/admin/manageStudents">Manage Students</a>
                </li>
                <li class="active">
                    <a href="/admin/manageSessions">Manage Sessions</a>
                </li>
                <li>
                    <a href="https://www.ntu.edu.sg/Pages/home.aspx" target="_blank">About NTU</a>
                </li>
                <li>
                    <a href="https://www.ntu.edu.sg/FacultyStaff/Pages/StaffServices.aspx" target="_blank">Contact</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs mt-3">
                <li>
                    <a href="/login" class="button">Log out</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light dashboard-navbar">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="dashboard-navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>

                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link btn" href="/admin/manageSessions">View Sessions</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link btn" href="/admin/manageSessions/add">Add Sessions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn" href="/admin/manageSessions/assignStudent">Assign Students</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>

            <div class="container w-50 mt-5">
                <h3>Add Session</h3>
                <form action="/admin/manageSessions/add" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Session Name</label>
                        <input type="text" name="sessionName" class="form-control" aria-describedby="emailHelp" placeholder="Enter session name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email of Person-in-charge</label>
                        <input type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Number of Sessions</label>
                        <input type="number" name="numOfSession" class="form-control" aria-describedby="emailHelp" placeholder="Enter a number">
                    </div>

                    <button type="submit" class="btn btn-primary mt-2">Create New Session</button>
                </form>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>

</html>