<!DOCTYPE html>
<html>

<%- include('partial/head', {title: "Admin"}) %>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Admin Dashboard</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/admin">Home</a>
                    </li>
                    <li>
                        <a href="/admin/manageStaff">Manage Staff</a>
                    </li>
                    <li>
                        <a href="/admin/manageStudents">Manage Students</a>
                    </li>
                    <li class="active">
                        <a href="/admin/manageSessions">Manage Sessions</a>
                    </li>
                    <li>
                        <a href="https://www.ntu.edu.sg/Pages/home.aspx" target="_blank">About NTU</a>
                    </li>
                    <li>
                        <a href="https://www.ntu.edu.sg/FacultyStaff/Pages/StaffServices.aspx" target="_blank">Contact</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs mt-3">
                    <li>
                        <a href="/logout" class="button">Log out</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light dashboard-navbar">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="dashboard-navbar-btn">
                        <i class="fas fa-align-justify"></i>
                    </button>

                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link btn" href="/admin/manageSessions">View Sessions</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link btn" href="/admin/manageSessions/add">Add Sessions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn" href="/admin/manageSessions/assignStudent">Assign Students</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>

                <div class="container w-50 mt-5">
                    <h3>Add Session</h3>
                    <form action="/admin/manageSessions/add" method="POST">
                        <div class="form-group">
                            <label for="sessionNameInput">Session Name</label>
                            <input type="text" name="sessionName" id="sessionNameInput" class="form-control" aria-describedby="emailHelp" placeholder="Enter session name">
                        </div>
                        <div class="form-group">
                            <label for="emailInput">Email of Person-in-charge</label>
                            <select class="form-control" name="email" id="emailInput" aria-describedby="emailHelp" placeholder="Enter session name" id="exampleInputEmail1">
                                    <% staffList.forEach(function(staff) { %>
                                        <option> <%= staff.email %> </option>
                                        <% }); %>    
                                  </select>
                        </div>
                        <div class="form-group">
                            <label for="numOfSessionInput">Number of Sessions</label>
                            <input type="number" name="numOfSessions" id="numOfSessionInput" class="form-control" aria-describedby="emailHelp" placeholder="Enter a number">
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">Create New Session</button>
                    </form>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            var msgType = null
            var msg = null

            $(document).ready(function() {
                alertify.set('notifier', 'position', 'top-center');

                <% if (locals.msgType) { %>
                msg = "<%=msg%>"
                msgType = "<%=msgType%>"
                <% } %>

                switch (msgType) {
                    case "success":
                        alertify.success(msg)
                        break

                    case "error":
                        alertify.error(msg)
                        break

                    case "warning":
                        alertify.warning(msg)
                        break

                    default:
                        break
                }

                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>
    </body>

</html>