<!DOCTYPE html>
<html>

<%- include('partial/head', {title: "Admin"}) %>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Admin Dashboard</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/admin">Home</a>
                    </li>
                    <li>
                        <a href="/admin/manageStaff">Manage Staff</a>
                    </li>
                    <li>
                        <a href="/admin/manageStudents">Manage Students</a>
                    </li>
                    <li class="active">
                        <a href="/admin/manageSessions">Manage Sessions</a>
                    </li>
                    <li>
                        <a href="https://www.ntu.edu.sg/Pages/home.aspx" target="_blank">About NTU</a>
                    </li>
                    <li>
                        <a href="https://www.ntu.edu.sg/FacultyStaff/Pages/StaffServices.aspx" target="_blank">Contact</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs mt-3">
                    <li>
                        <a href="/logout" class="button">Log out</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light dashboard-navbar">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="dashboard-navbar-btn">
                        <i class="fas fa-align-justify"></i>
                    </button>

                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link btn" href="/admin/manageSessions">View Sessions</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn" href="/admin/manageSessions/add">Add Sessions</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link btn" href="/admin/manageSessions/assignStudent">Assign Students</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>

                <div class="container w-50">
                    <h3>Assign Student</h3>
                    <form action="">
                        <div class="form-group">
                            <label for="sessionChoice">Session</label>
                            <select class="form-control" id="sessionChoice">
                                  <option>CZ3002 TS3 Lab</option>
                                  <option>xxx</option>
                                </select>
                        </div>

                        <label for="customFile">Upload Student List File</label>
                        <div class="custom-file">

                            <input type="file" class="custom-file-input" id="customFile" name="filename">
                            <label class="custom-file-label" for="customFile">Choose CSV File</label>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('#sidebarCollapse').on('click', function() {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });

                $(".custom-file-input").on("change", function() {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            });
        </script>
    </body>

</html>