<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/alertify.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="alertify.js"></script>
    <script src="index.js"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-blue">
        <a class="navbar-brand" href="/login"><img class="w-40px" src="logo.png" alt="ntu logo">
            <span class="navbar-text text-white ml-3 h4">
                Face-Recognition Attendance-Taking System
            </span>
        </a>
    </nav>

    <div class="container h-100 center-from-navbar">
        <div class="d-flex justify-content-center">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="face-recognition.jpg" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form action="/login" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="email" class="form-control input-email" placeholder="email">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" class="form-control input-pass" placeholder="password">
                        </div>
                        <div class="login_container">
                            <button type="submit" name="button" class="btn login_btn hover-shadow">Login</button>
                        </div>
                    </form>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center">
                        <a href="/changePassword" class="text-white">Change password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var msgType = null
        var msg = null
        var flashError = null

        $(document).ready(function() {
            alertify.set('notifier', 'position', 'top-center');

            <% if (locals.msgType) { %>
            msg = "<%=msg%>"
            msgType = "<%=msgType%>"
            <% } %>

            switch (msgType) {
                case "success":
                    alertify.success(msg)
                    break

                case "error":
                    alertify.error(msg)
                    break

                case "warning":
                    alertify.warning(msg)
                    break

                default:
                    break
            }

            <% if (messages.error) { %>
            flashError = "<%=messages.error%>"
            alertify.error(flashError)
            <% } %>
        })
    </script>
</body>

</html>