<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/alertify.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <script src="alertify.js"></script>

</head>
<body>
    <div class="wrapper">
        
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin Dashboard</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/admin">Home</a>
                </li>
                <li>
                    <a href="/admin/manageStaff">Manage Staff</a>
                </li>
                <li class="active">
                    <a href="/admin/manageStudents">Manage Students</a>
                </li>
                <li>
                    <a href="/admin/manageSessions">Manage Sessions</a>
                </li>
                <li>
                    <a href="https://www.ntu.edu.sg/Pages/home.aspx" target="_blank">About NTU</a>
                </li>
                <li>
                    <a href="https://www.ntu.edu.sg/FacultyStaff/Pages/StaffServices.aspx" target="_blank">Contact</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs mt-3">
                <li>
                    <a href="/login" class="button">Log out</a>
                </li>
            </ul>
        </nav>
        
        <!-- Page Content -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light dashboard-navbar">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info" style="border:none;">
                        <i class="fas fa-expand" style="color:black"></i>
                    </button>
                </div>
            </nav>
            <div class="alert alert-danger alert-dismissible fade collapse" role="alert" id="uploadError">
                <p>{{msg}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        
            <div>
                <h3 class="text-center">Student List</h3>
                <table class="table table-hover table-striped mt-5" id="studentTable">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Matric No.</th>
                            <th scope="col">Upload Photo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Wowotou HeHe</td>
                            <td>U1234567L</td>                    
                            <td><button type="button" class="fas fa-upload" data-toggle="modal" data-target="#uploadModal"></button></td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </div>
    
        <!-- Modal: Upload photos -->
    <div id="uploadModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Upload Photos</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <!-- Form -->
            <form method='post' action='admin/manageStudents/photo' enctype="multipart/form-data">
              Please select 3 photos of the student to upload:
              <br>
              <input type='file' name='photo1' id='photo1' class='form-control' accept="image/jpeg">
              <br>
              <input type='file' name='photo2' id='photo2' class='form-control' accept="image/jpeg">
              <br>
              <input type='file' name='photo3' id='photo3' class='form-control' accept="image/jpeg">
              <br>
              <button type="submit" class="btn btn-primary mt-2" id='upload'>Upload</button>
            </form>

            <!-- Preview-->
            <div id='preview'></div>
              <!--if have time, can do-->
          </div>

        </div>

      </div>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
            $('#studentTable').DataTable();      
        });
    </script>
    
    <script>
        var msgType = null
        var msg = null
        var flashError = null
        $(document).ready(function() {
            alertify.set('notifier', 'position', 'top-center');
            <% if (locals.msgType) { %>
            msg = "<%=msg%>"
            msgType = "<%=msgType%>"
            <% } %>
            switch (msgType) {
                case "success":
                    alertify.success(msg)
                    break
                case "error":
                    alertify.error(msg)
                    break
                case "warning":
                    alertify.warning(msg)
                    break
                default:
                    break
            }
            <% if (messages.error) { %>
            flashError = "<%=messages.error%>"
            alertify.error(flashError)
            <% } %>
        })
    </script>
    
</body>
</html>