<!DOCTYPE html>
<html>

<%- include('partial/head', {title: "Admin"}) %>

    <body>

        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Admin Dashboard</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="/admin">Home</a>
                    </li>
                    <li class="active">
                        <a href="/admin/manageStaff">Manage Staff</a>
                    </li>
                    <li>
                        <a href="/admin/manageStudents">Manage Students</a>
                    </li>
                    <li>
                        <a href="/admin/manageSessions">Manage Sessions</a>
                    </li>
                    <li>
                        <a href="https://www.ntu.edu.sg/Pages/home.aspx" target="_blank">About NTU</a>
                    </li>
                    <li>
                        <a href="https://www.ntu.edu.sg/FacultyStaff/Pages/StaffServices.aspx" target="_blank">Contact</a>
                    </li>
                </ul>

                <ul class="list-unstyled CTAs mt-3">
                    <li>
                        <a href="/logout" class="button">Log out</a>
                    </li>
                </ul>
            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-expand-lg navbar-light bg-light dashboard-navbar">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="dashboard-navbar-btn">
                        <i class="fas fa-expand" style="color:black"></i>
                    </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link btn" href="/admin/manageStaff">View Staff</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn" href="/admin/manageStaff/add">Add staff</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div>
                    <h3 class="text-center">Staff List</h3>
                    <table class="table table-hover table-striped mt-5" id="staffTable">
                        <thead>
                            <tr>
                                <th scope="col ">Name</th>
                                <th scope="col ">Email</th>
                                <th scope="col ">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(function(user) { %>
                                <tr>
                                    <td>
                                        <%= user.displayName %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <a href="#" onclick="deleteUser(this)"><i class="fas fa-trash-alt "></i></a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <%- include('partial/message') %>
            <script type="text/javascript ">
                $(document).ready(function() {

                    $('#sidebarCollapse').on('click', function() {
                        $('#sidebar').toggleClass('active');
                        $(this).toggleClass('active');
                    });

                    $('#staffTable').DataTable();

                })
            </script>
    </body>

</html>